main {
  padding: 0 15px;
}
.header {
  padding: 12px 20px;
  border-bottom: 1px solid rgb(40, 153, 26);
}
.link {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;

  margin-right: 20px;
  color: rgb(10, 10, 10);
}
.link:hover {
  color: rgb(142, 200, 48);
}
.active {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;

  margin-right: 20px;
  color: rgb(142, 200, 48);
}
